<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mujer</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>2.8</real>
				<key>Normal</key>
				<real>3.2</real>
				<key>Sobrepeso</key>
				<real>3.7</real>
				<key>Obesidad</key>
				<string>4.2</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>47.3</real>
				<key>Normal</key>
				<string>49.1</string>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>3.6</real>
				<key>Normal</key>
				<real>4.2</real>
				<key>Sobrepeso</key>
				<real>4.8</real>
				<key>Obesidad</key>
				<string>5.5</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>51.7</real>
				<key>Normal</key>
				<string>53.7</string>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>4.5</real>
				<key>Normal</key>
				<real>5.1</real>
				<key>Sobrepeso</key>
				<real>5.8</real>
				<key>Obesidad</key>
				<string>6.6</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<integer>55</integer>
				<key>Normal</key>
				<string>57.1</string>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>5.2</real>
				<key>Normal</key>
				<real>5.8</real>
				<key>Sobrepeso</key>
				<real>6.6</real>
				<key>Obesidad</key>
				<string>7.5</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>57.7</real>
				<key>Normal</key>
				<string>59.8</string>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>5.7</real>
				<key>Normal</key>
				<real>6.4</real>
				<key>Sobrepeso</key>
				<real>7.3</real>
				<key>Obesidad</key>
				<string>8.2</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>59.9</real>
				<key>Normal</key>
				<string>62.1</string>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>6.1</real>
				<key>Normal</key>
				<real>6.9</real>
				<key>Sobrepeso</key>
				<real>7.8</real>
				<key>Obesidad</key>
				<string>8.8</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>61.8</real>
				<key>Normal</key>
				<string>64.0</string>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>6.5</real>
				<key>Normal</key>
				<real>7.3</real>
				<key>Sobrepeso</key>
				<real>8.199999999999999</real>
				<key>Obesidad</key>
				<string>9.3</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>63.5</real>
				<key>Normal</key>
				<string>65.7</string>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>6.8</real>
				<key>Normal</key>
				<real>7.6</real>
				<key>Sobrepeso</key>
				<real>8.6</real>
				<key>Obesidad</key>
				<string>9.8</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<integer>65</integer>
				<key>Normal</key>
				<string>67.3</string>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>7</real>
				<key>Normal</key>
				<real>7.9</real>
				<key>Sobrepeso</key>
				<integer>9</integer>
				<key>Obesidad</key>
				<string>10.2</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>66.40000000000001</real>
				<key>Normal</key>
				<string>68.7</string>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>7.3</real>
				<key>Normal</key>
				<real>8.199999999999999</real>
				<key>Sobrepeso</key>
				<real>9.300000000000001</real>
				<key>Obesidad</key>
				<string>10.5</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>67.7</real>
				<key>Normal</key>
				<string>70.1</string>
			</dict>
		</dict>
		<key>10</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>7.5</real>
				<key>Normal</key>
				<real>8.5</real>
				<key>Sobrepeso</key>
				<real>9.6</real>
				<key>Obesidad</key>
				<string>10.9</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<integer>69</integer>
				<key>Normal</key>
				<string>71.5</string>
			</dict>
		</dict>
		<key>11</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>7.7</real>
				<key>Normal</key>
				<real>8.699999999999999</real>
				<key>Sobrepeso</key>
				<real>9.9</real>
				<key>Obesidad</key>
				<string>11.2</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>70.3</real>
				<key>Normal</key>
				<string>72.8</string>
			</dict>
		</dict>
		<key>12</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>7.9</real>
				<key>Normal</key>
				<real>8.9</real>
				<key>Sobrepeso</key>
				<real>10.1</real>
				<key>Obesidad</key>
				<string>11.5</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>71.40000000000001</real>
				<key>Normal</key>
				<string>74</string>
			</dict>
		</dict>
		<key>18</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>9.1</real>
				<key>Normal</key>
				<real>10.2</real>
				<key>Sobrepeso</key>
				<real>11.6</real>
				<key>Obesidad</key>
				<string>13.2</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>77.8</real>
				<key>Normal</key>
				<string>80.7</string>
			</dict>
		</dict>
		<key>24</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>10.2</real>
				<key>Normal</key>
				<real>11.5</real>
				<key>Sobrepeso</key>
				<integer>13</integer>
				<key>Obesidad</key>
				<string>14.8</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>83.2</real>
				<key>Normal</key>
				<string>86.4</string>
			</dict>
		</dict>
		<key>30</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>11.2</real>
				<key>Normal</key>
				<real>12.7</real>
				<key>Sobrepeso</key>
				<real>14.4</real>
				<key>Obesidad</key>
				<string>16.5</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>87.09999999999999</real>
				<key>Normal</key>
				<string>90.7</string>
			</dict>
		</dict>
		<key>36</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>12.2</real>
				<key>Normal</key>
				<real>13.9</real>
				<key>Sobrepeso</key>
				<real>15.8</real>
				<key>Obesidad</key>
				<string>18.1</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>91.2</real>
				<key>Normal</key>
				<string>95.1</string>
			</dict>
		</dict>
		<key>42</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>13.1</real>
				<key>Normal</key>
				<integer>15</integer>
				<key>Sobrepeso</key>
				<real>17.2</real>
				<key>Obesidad</key>
				<string>19.8</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<integer>95</integer>
				<key>Normal</key>
				<string>99</string>
			</dict>
		</dict>
		<key>48</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<integer>14</integer>
				<key>Normal</key>
				<real>16.1</real>
				<key>Sobrepeso</key>
				<real>18.5</real>
				<key>Obesidad</key>
				<string>21.5</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>98.40000000000001</real>
				<key>Normal</key>
				<string>102.7</string>
			</dict>
		</dict>
		<key>54</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>14.9</real>
				<key>Normal</key>
				<real>17.2</real>
				<key>Sobrepeso</key>
				<real>19.9</real>
				<key>Obesidad</key>
				<string>23.2</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>101.6</real>
				<key>Normal</key>
				<string>106.2</string>
			</dict>
		</dict>
		<key>60</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>15.8</real>
				<key>Normal</key>
				<real>18.2</real>
				<key>Sobrepeso</key>
				<real>21.2</real>
				<key>Obesidad</key>
				<string>24.9</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>104.7</real>
				<key>Normal</key>
				<string>109.4</string>
			</dict>
		</dict>
	</dict>
	<key>Hombre</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>2.9</real>
				<key>Normal</key>
				<real>3.3</real>
				<key>Sobrepeso</key>
				<real>3.9</real>
				<key>Obesidad</key>
				<string>4.4</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<integer>48</integer>
				<key>Normal</key>
				<string>49.9</string>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>3.9</real>
				<key>Normal</key>
				<real>4.5</real>
				<key>Sobrepeso</key>
				<real>5.1</real>
				<key>Obesidad</key>
				<string>5.8</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>52.8</real>
				<key>Normal</key>
				<string>54.7</string>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>4.9</real>
				<key>Normal</key>
				<real>5.6</real>
				<key>Sobrepeso</key>
				<real>6.3</real>
				<key>Obesidad</key>
				<string>7.1</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>56.4</real>
				<key>Normal</key>
				<string>58.4</string>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>5.7</real>
				<key>Normal</key>
				<real>6.4</real>
				<key>Sobrepeso</key>
				<real>7.2</real>
				<key>Obesidad</key>
				<string>8.0</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>59.4</real>
				<key>Normal</key>
				<string>61.4</string>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>6.2</real>
				<key>Normal</key>
				<real>7</real>
				<key>Sobrepeso</key>
				<real>7.8</real>
				<key>Obesidad</key>
				<string>8.7</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>61.8</real>
				<key>Normal</key>
				<string>63.9</string>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>6.7</real>
				<key>Normal</key>
				<real>7.5</real>
				<key>Sobrepeso</key>
				<real>8.4</real>
				<key>Obesidad</key>
				<string>9.3</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>63.8</real>
				<key>Normal</key>
				<string>65.9</string>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>7.1</real>
				<key>Normal</key>
				<real>7.9</real>
				<key>Sobrepeso</key>
				<real>8.800000000000001</real>
				<key>Obesidad</key>
				<string>9.8</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>65.5</real>
				<key>Normal</key>
				<string>67.6</string>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>7.4</real>
				<key>Normal</key>
				<real>8.300000000000001</real>
				<key>Sobrepeso</key>
				<real>9.199999999999999</real>
				<key>Obesidad</key>
				<string>10.3</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<integer>67</integer>
				<key>Normal</key>
				<string>69.2</string>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>7.7</real>
				<key>Normal</key>
				<real>8.6</real>
				<key>Sobrepeso</key>
				<real>9.6</real>
				<key>Obesidad</key>
				<string>10.7</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>68.40000000000001</real>
				<key>Normal</key>
				<string>70.6</string>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<integer>8</integer>
				<key>Normal</key>
				<real>8.9</real>
				<key>Sobrepeso</key>
				<real>9.9</real>
				<key>Obesidad</key>
				<string>11</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>69.7</real>
				<key>Normal</key>
				<string>72</string>
			</dict>
		</dict>
		<key>10</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>8.199999999999999</real>
				<key>Normal</key>
				<real>9.199999999999999</real>
				<key>Sobrepeso</key>
				<real>10.2</real>
				<key>Obesidad</key>
				<string>11.4</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<integer>71</integer>
				<key>Normal</key>
				<string>73.3</string>
			</dict>
		</dict>
		<key>11</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>8.4</real>
				<key>Normal</key>
				<real>9.4</real>
				<key>Sobrepeso</key>
				<real>10.5</real>
				<key>Obesidad</key>
				<string>11.7</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>72.2</real>
				<key>Normal</key>
				<string>74.5</string>
			</dict>
		</dict>
		<key>12</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>8.6</real>
				<key>Normal</key>
				<real>9.6</real>
				<key>Sobrepeso</key>
				<real>10.8</real>
				<key>Obesidad</key>
				<string>12</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>73.40000000000001</real>
				<key>Normal</key>
				<string>75.7</string>
			</dict>
		</dict>
		<key>18</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>9.800000000000001</real>
				<key>Normal</key>
				<real>10.9</real>
				<key>Sobrepeso</key>
				<real>12.2</real>
				<key>Obesidad</key>
				<string>13.7</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>79.59999999999999</real>
				<key>Normal</key>
				<string>82.3</string>
			</dict>
		</dict>
		<key>24</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>10.8</real>
				<key>Normal</key>
				<real>12.2</real>
				<key>Sobrepeso</key>
				<real>13.6</real>
				<key>Obesidad</key>
				<string>15.3</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>84.8</real>
				<key>Normal</key>
				<string>87.8</string>
			</dict>
		</dict>
		<key>30</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>11.8</real>
				<key>Normal</key>
				<real>13.3</real>
				<key>Sobrepeso</key>
				<integer>15</integer>
				<key>Obesidad</key>
				<string>16.9</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>85.5</real>
				<key>Normal</key>
				<string>91.9</string>
			</dict>
		</dict>
		<key>36</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>12.7</real>
				<key>Normal</key>
				<real>14.3</real>
				<key>Sobrepeso</key>
				<real>16.2</real>
				<key>Obesidad</key>
				<string>18.3</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>92.40000000000001</real>
				<key>Normal</key>
				<string>96.1</string>
			</dict>
		</dict>
		<key>42</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>13.6</real>
				<key>Normal</key>
				<real>15.3</real>
				<key>Sobrepeso</key>
				<real>17.4</real>
				<key>Obesidad</key>
				<string>19.7</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>95.90000000000001</real>
				<key>Normal</key>
				<string>99.9</string>
			</dict>
		</dict>
		<key>48</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>14.4</real>
				<key>Normal</key>
				<real>16.3</real>
				<key>Sobrepeso</key>
				<real>18.6</real>
				<key>Obesidad</key>
				<string>21.2</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>99.09999999999999</real>
				<key>Normal</key>
				<string>103.3</string>
			</dict>
		</dict>
		<key>54</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<real>15.2</real>
				<key>Normal</key>
				<real>17.3</real>
				<key>Sobrepeso</key>
				<real>19.8</real>
				<key>Obesidad</key>
				<string>22.7</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>102.3</real>
				<key>Normal</key>
				<string>106.7</string>
			</dict>
		</dict>
		<key>60</key>
		<dict>
			<key>Peso</key>
			<dict>
				<key>Desnutricion</key>
				<integer>16</integer>
				<key>Normal</key>
				<real>18.3</real>
				<key>Sobrepeso</key>
				<integer>21</integer>
				<key>Obesidad</key>
				<string>24.2</string>
			</dict>
			<key>Talla</key>
			<dict>
				<key>Baja</key>
				<real>105.3</real>
				<key>Normal</key>
				<string>110</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
